<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('components/header') %>
    <div class="container">
        <div class="user">
            <h1>Profile:</h1>
            <ul>
                <li>Username: <%- include('components/username') %> </li>
                <li>Email: <%= profile.email %></li>
            </ul>
        </div>
        <div class="users-cities">
            <% cities.forEach(function(city) { %>
                <div class="city-block">
                    <a href='/cities/<%= city.id %>'><h1><%= city.name %></h1>
                    <%= city.country_name %></li></a>
                    <%= city.id %>
                    <button onclick="confirmDeletion(<%= city.id %>, '<%= city.name %>')">Delete</button>
                </div>  
            <% }); %>
        </div>
    </div>
</body>
<script>
    function confirmDeletion(city_id, city_name) {
        const userConfirmed = window.confirm("Are you sure you want to delete: " + city_name + "?");
        if (userConfirmed) {
            window.location.href = "/cities/"+ city_id + "/delete";
        } else {
            console.log("Operation cancelled by user.");
        }
    }

</script>

<style>
    h1 {
        font-weight: bold;
    }

    .container {
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .users-cities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .city-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
</style>

</html>